#!/bin/bash

# Variables
MONGO_HOST="{{mongohost}}"                  # MongoDB host
MONGO_PORT="{{mongoport}}"                       # MongoDB port
MONGO_USER="{{username}}"               # MongoDB username
MONGO_PASSWORD="{{password}}"           # MongoDB password
MONGO_DB="{{databasename}}"            # Database name to backup
BACKUP_DIR="{{backupPath}}"  # Directory to store backups
DATE=$(date +"%Y%m%d_%H%M%S")           # Current date for backup filename
AUTH_DB="{{auth_db}}"                          # The database where the user is created (usually 'admin')

# Create backup directory if it doesn't exist
mkdir -p "$BACKUP_DIR"

# Run mongodump command
mongodump --host "$MONGO_HOST" \
          --port "$MONGO_PORT" \
          --username "$MONGO_USER" \
          --password "$MONGO_PASSWORD" \
          --authenticationDatabase "$AUTH_DB" \
          --db "$MONGO_DB" \
          --out "$BACKUP_DIR/$MONGO_DB-$DATE"

# Optional: Print a success message
echo "Backup of database '$MONGO_DB' completed successfully at $BACKUP_DIR/$MONGO_DB-$DATE."
