# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ dbpath }}
#  engine:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ logpath }}

# network interfaces
net:
  port: {{ server_port }}
  bindIp: {{ bindip }}
#  tls:
#    mode:
#    certificateKeyFile:
#    CAFile:

# how the process runs
processManagement:
  fork: true
  pidFilePath: /var/run/mongod.pid

#security:
#security:
#  authorization: "disabled"
#  keyFile: /var/lib/mongodb/keyfile

#operationProfiling:

replication:
  replSetName: {{ replsetname }}

#sharding:
#  clusterRole:

## Enterprise-Only Options:

#auditLog:
