sharding:
  {{ configDB_connection_string }}
net:
  bindIp: {{ bindip }}
  port: {{ mongos_port }}
systemLog:
  destination: file
  path: {{ mongoslog }}
  logAppend: true
#security:
#  authorization: "disabled"
#  keyFile: /var/lib/mongodb/keyfile